<div id="homeContent">
	<div class="hmFeatHldr">
		<div class="hmFeat skinny" onClick="TF.navService();" style="cursor:pointer">
		   <div class="skinnyLogo">
		     <img src="img/homeSDLogo@2x.png">
		   </div>
		</div>
	</div>
</div>
