<div id="sideNavCats">
    <div id="categories" class="colNav noBG">
      <div class="filtTitle">
        Categories
      </div>

      <div class="scrollBx">
        <ul class="expanded">
          <li><a href="http://www.treefortbikes.com/cat/0/128/TEST"  onClick("handleNavToFilter", 1234, "cat", null, null)>DEMO CAT LINK</a></li>
        </ul>
      </div>
    </div>
</div>
