
<div id="catProdHolder" class="showleftNav">
	$ var _TF;
	$ if(typeof window !== 'undefined'){
		_TF = window.TF;
	}else if(typeof TF !== 'undefined'){
		_TF = TF;
	}
	This is a test category page
</div>
